h1
{
  text-align: center;
  font-size: 60px;
  margin: 0;
  padding: 20px 0;
  color: #00539f;
  text-shadow: 3px 3px 1px black;

}

img
{
  display: block;
  margin: 0 auto;
  width: 20%;
  padding-bottom: 10px;
}

input
{
  margin: auto;
  display: block;
  width: 20%;

}

.error-output
{
  margin: auto;
  display: block;
  width: 20%;  font-size: 12px;
  font-style: italic;
  color: red;
}


.form
{
    width: 40%;
    margin: 0 auto;
    background-color: #FF9500;
    border: 5px solid black;
    height: 98vh;
  
}

.contents
{
  align-items: center;
  padding: 40px;
}

p
{
  line-height: 1.9em;
}
li
{
  line-height: 1.9em;

}

.img-content
{
  display: flex;
  flex-direction: column;
}

.bg
{
    background-color: #00539f;
}